@import '../variables';





.icon-box {
    position: relative;
    /* Note: backdrop-filter has minimal browser support */
    padding: 133px 55px 55px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    // width: 80%;

    @media (max-width: 1024px) {
        padding: 110px 45px 50px;
        border-radius: 20px;
    }

    @media (max-width: 820px) {
        padding: 110px 35px 40px;
    }
}

.icon-wrap {
    position: absolute;
    left: 10.73%;
    top: -16.02%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px 41px;
    background: $dark-bg;
    border-radius: 30px;

    @media (max-width: 1024px) {
        padding: 26px 35px;
        top: -11%;

        svg {
            width: 80px;
        }
    }

    @media (max-width: 820px) {
        padding: 20px 30px;
        top: -12%;
        border-radius: 20px;

        svg {
            width: 65px;
        }
    }

    @media (max-width: 820px) {
        padding: 5px 25px;
        top: -8%;
        border-radius: 15px;

        svg {
            width: 55px;
        }
    }
}

.gov-about {
    padding: 150px 250px;

    @media (max-width: 1440px) {
        padding: 150px 125px;
    }

    @media (max-width: 1024px) {
        padding: 110px 85px;
    }

    @media (max-width: 600px) {
        padding: 80px 50px;
    }
}

.icon-title {
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: $primary;

    @media (max-width: 820px) {
        font-size: 22px;
    }
}

.icon-content {
    margin-top: 15px;
}


.desc-wrap {
    margin-bottom: 80px;
}

.proposal {
    padding: 125px 250px;

    @media (max-width: 1440px) {
        padding: 125px;
    }

    @media (max-width: 1024px) {
        padding: 85px;
    }

    @media (max-width: 820px) {
        padding: 75px;
    }

    @media (max-width: 820px) {
        padding: 50px;
    }
}

.parameter-box {
    background: linear-gradient(101.71deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0.16) 73.38%);
    box-shadow: 0px 10px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(34px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 60px;
    height: 650px;
    /* Note: backdrop-filter has minimal browser support */
    position: relative;
    border-radius: 30px;

    @media (max-width: 820px) {
        border-radius: 20px;
        padding: 50px;
    }

    @media (max-width: 600px) {
        border-radius: 20px;
        padding: 30px;
    }

    .btn {
        position: absolute;
        top: 80%;

        &-border-gradient {
            background: #3b3846;
            padding: 21px 55px;
            font-size: 24px;
            font-weight: 600;

            @media (max-width: 600px) {
                padding: 15px 40px;
                font-size: 22px;
                font-weight: 500;
            }

            &:hover {
                background: transparent;
            }
        }
    }
}

.param-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 30px;

    @media (max-width: 820px) {
        font-size: 30px;
        line-height: 42px;
    }

    @media (max-width: 600px) {
        font-size: 26px;
        line-height: 38px;
    }
}


@media (max-width: 600px) {
    .mb-xs-0 {
        margin-bottom: 0 !important;
    }

    .proposal-desc {
        text-align: center;
    }
}