@import '../variables';

.crypto-page {
    .padding-x {
        @media (max-width: 600px) {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}

.crypto-content-wrap {
    padding-top: 100px;
    padding-bottom: 50px;

    @media (max-width: 820px) {
        padding-bottom: 30px;
        padding-top: 0;
    }
}

.cryptoContentSection {
    position: relative;
    transition: all .3s ease;
    padding-bottom: 150px;

    .content {
        width: 100%;

        @media (max-width: 1366px) {
            font-size: 15px;
        }

        @media (max-width: 600px) {
            margin-top: 10px;
            font-size: 12px;
        }
        &.truncate {
            width: 100%;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all .3s ease;
        }
    }
    .title {
        color: $secondary;
        font-size: 26px;
        font-weight: 600;

        @media (max-width: 1366px) {
            font-size: 20px;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }
    }

    .remove {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 12px;
        color: $primary;
        box-shadow: none;

        @media (max-width: 600px) {
            top: 0;
            right: 15px;
        }
    }

    .titleWrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .title-line {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(101.71deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0.16) 73.38%);
        box-shadow: 0px 10px 24px -1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(34px);

        @media (max-width: 600px) {
            width: 50px;
            height: 50px;
        }
    }

    section {
        padding-top: 70px;

        @media (max-width: 600px) {
            padding-top: 50px;

            .title-line {
                font-size: 32px;
            }
        }
    }
}

.cryptoWikiNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    position: sticky;
    width: 100%;
    top: 15px;
    z-index: 9;
    
    font-weight: 600;

    @media (max-width: 1440px) {
        margin-bottom: 0;
    }

    @media (max-width: 600px) {
        font-size: 12px;
    }

    span {
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            color: $primary;
        }
    }
}

.glossary-content {
    

    ul {
        padding-left: 15px;
        margin-left: 20px;
        padding-top: 15px;
        li {
            list-style: disc;
        }
    }
}