@import '../variables';

.blog-page {
    .banner-two-title {
        width: 70%;
    }
}

.blogCard {
    background: linear-gradient(101.71deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0.16) 73.38%);
    box-shadow: 0px 10px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(34px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
    width: 100%;
    overflow: hidden;
    padding: 20px 20px 25px;
    border: 1px solid rgba(255, 255, 255, 0.16);

    display: flex;
    flex-direction: column;

    &:hover {
        .blog-img-wrap {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.blog {
    &-img-wrap {
        width: 100%;
        height: 220px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @media (max-width: 768px) {
            height: 175px;
        }

        img {
            min-width: 100%;
            transition: all .5s ease;
        }
    }

    &-info {
        margin-top: 25px;
    }

    &-title {
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0 15px;
        color: #FFF;
        transition: all .3s ease;

        &:hover {
            color: $primary;
        }
    }

    &-desc {
        font-size: 16px;
        color: $secondary;
    }

    &-section {
        padding-top: 100px;
        padding-bottom: 100px;

        @media (max-width: 820px) {
            padding-top: 0px;
        }
    }

    &-wrap {
        padding-left: 150px;
        padding-right: 150px;

        @media (max-width: 1680px) {
            padding: 0;
        }
    }
}

.datePosted {
    font-size: 14px;
    color: $secondary;
}

.blog-detail {
    padding-top: 145px;
    padding-bottom: 145px;

    @media (max-width: 600px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    ul {
        padding-left: 25px;
        padding-top: 10px;
    }

    li {
        list-style: disc;
    }

    p {
        margin-top: 20px;
    }

}

.blog-img {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;

    @media (max-width: 600px) {
        height: 120px;
    }

    img {
        width: 100%;

        @media (max-width: 820px) {
            height: 100%;
            width: auto;
        }

        @media (max-width: 600px) {
            width: 100%;
            height: auto;
        }
    }
}

.blogTitle {
    margin-top: 33px;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 600px) {
        font-size: 18px;
    }
}