.decentralize {
    padding: 150px 170px;
    position: relative;
    z-index: 1;

    @media (max-width: 1440px) {
        padding: 150px 125px;
    }

    @media (max-width: 1024px) {
        padding: 100px 75px;
    }

    @media (max-width: 600px) {
        padding: 60px 50px;
    }

    &-box {
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 134px 68px 74px;
        position: relative;

        background: linear-gradient(101.71deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0.16) 73.38%);
        box-shadow: 0px 10px 24px -1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(34px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 30px;

        @media (max-width: 600px) {
            padding: 15px 20px;
            border-radius: 15px;
        }

        p {
            font-size: 30px;
            text-align: center;
            margin-bottom: 30px;

            @media (max-width: 1366px) {
                font-size: 22px;
            }

            @media (max-width: 1024px) {
                font-size: 18px;
            }

            @media (max-width: 600px) {
                font-size: 12px;
            }
        }
    }
}

.box-title-wrap {
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 19%;
    top: -15%;
    width: fit-content;

    background: linear-gradient(101.71deg, rgba(255, 255, 255, 0.1) 0.89%, rgba(255, 255, 255, 0.16) 73.38%);
    box-shadow: 0px 10px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(34px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
    padding: 46px 68px;

    @media (max-width: 1680px) {
        left: 16%;
    }

    @media (max-width: 1600px) {
        left: 13%;
    }

    @media (max-width: 1440px) {
        left: 10%;
    }

    @media (max-width: 1366px) {
        top: -8%;
        padding: 35px 60px;
    }

    @media (max-width: 1024px) {
        border-radius: 20px;
    }

    @media (max-width: 820px) {
        border-radius: 15px;
        padding: 23px 46px;
        top: -7%;
    }

    @media (max-width: 600px) {
        background: none;
        backdrop-filter: blur(0);
        border: none;
        left: 0;
        box-shadow: none;
        padding: 30px 0;
        top: 0%;
        width: 100%;
        position: relative;
    }

    p {
        font-size: 42px;
        font-weight: 600;
        white-space: nowrap;
        margin: 0;

        @media (max-width: 1680px) {
            font-size: 38px;
        }

        @media (max-width: 1366px) {
            font-size: 34px;
        }

        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 820px) {
            font-size: 20px;
        }

        @media (max-width: 600px) {
            white-space: normal;
            font-size: 14px;
        }
    }
}